In [408]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder

In [409]:
#load dataset
df =pd.read_csv("/Users/xiaohanliu/Desktop/data source/developer_survey_2020/survey_results_public.csv")

In [410]:
df.isnull().sum()

# Hobbyist, JobFactors, JobSat, WorkWeekHrs,WelcomeChange have many null values. since 
# some of them are categorical, we want to drop the null values in order to answer the question.

Respondent                          0
MainBranch                        299
Hobbyist                           45
Age                             19015
Age1stCode                       6561
CompFreq                        24392
CompTotal                       29635
ConvertedComp                   29705
Country                           389
CurrencyDesc                    18989
CurrencySymbol                  18989
DatabaseDesireNextYear          20391
DatabaseWorkedWith              14924
DevType                         15091
EdLevel                          7030
Employment                        607
Ethnicity                       18513
Gender                          13904
JobFactors                      15112
JobSat                          19267
JobSeek                         12734
LanguageDesireNextYear          10348
LanguageWorkedWith               7083
MiscTechDesireNextYear          22082
MiscTechWorkedWith              24147
NEWCollabToolsDesireNextYear    17174
NEWCollabToolsWorkedWith        11578
NEWDevOps                       21775
NEWDevOpsImpt                   22729
NEWEdImpt                       15996
                                ...
NEWJobHuntResearch              23439
NEWLearn                         8305
NEWOffTopic                     13657
NEWOnboardGood                  21838
NEWOtherComms                    7256
NEWOvertime                     21230
NEWPurchaseResearch             27140
NEWPurpleLink                    9658
NEWSOSites                       6186
NEWStuck                         9478
OpSys                            8233
OrgSize                         20127
PlatformDesireNextYear          13856
PlatformWorkedWith              10618
PurchaseWhat                    25097
Sexuality                       20469
SOAccount                        7656
SOComm                           7985
SOPartFreq                      17669
SOVisitFreq                      7491
SurveyEase                      12659
SurveyLength                    12760
Trans                           15116
UndergradMajor                  13466
WebframeDesireNextYear          24437
WebframeWorkedWith              22182
WelcomeChange                   11778
WorkWeekHrs                     23310
YearsCode                        6777
YearsCodePro                    18112
Length: 61, dtype: int64

In [411]:
# drop null values 
df_new = df.dropna()

In [413]:
 # function to turn job satisfations to nummeirc values 
def get_score(col): 
    score=""
    if col =='Very satisfied': 
        score=5
    if col=='Slightly satisfied': 
        score=4
    if col=='Neither satisfied nor dissatisfied': 
        score=3
    if col=='Slightly dissatisfied': 
        score=2
    if col=='Very dissatisfied': 
        score=1
    return score

In [414]:
# apply get_score function to Job Satisfactions 
score=df_new['JobSat'].apply(get_score)
df_new['score']=score

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [415]:
# function to split job factors and count how many factors each respondent usually select 
def get_factor(col): 
    factors=[]
    factors.extend(col.split(";"))
    return len(factors)

In [416]:
# apply get_factor function to Job Factors 
num_factors = df_new['JobFactors'].apply(get_factor)
df_new['num_factors']=num_factors

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [347]:
#looking at relationship between number of selected job factors and job satisfactions. 
# people who selects more job factors required for a job usually are more satisfied in thier curent job. This 
# may suggest that people who are well-throught of kinds of jobs they want to get usually can get the job which meets thier expectations. 
df_new.groupby('num_factors')['score'].mean()

num_factors
1    3.380952
2    3.750000
3    3.779923
Name: score, dtype: float64

In [350]:
df_new['num_factors'].value_counts()/ len(df_new['num_factors'])

3    0.983622
2    0.011393
1    0.004985
Name: num_factors, dtype: float64

In [351]:
# function to get a list of job factors 
def factors(col_name):
    factor_list=[]
    for col in col_name: 
        factor_list.extend(col.split(';'))
    return factor_list

In [352]:
# apply functions to job factors to inspect job factors people select
list_factor=factors(df_new['JobFactors'])
list_factor = pd.DataFrame(list_factor)
list_factor[0].value_counts()/len(list_factor)

Languages, frameworks, and other technologies I’d be working with         0.183441
Office environment or company culture                                     0.157064
Flex time or a flexible schedule                                          0.150769
Opportunities for professional development                                0.136744
Remote work options                                                       0.119611
How widely used or impactful my work output would be                      0.077536
Industry that I’d be working in                                           0.044227
Financial performance or funding status of the company or organization    0.040641
Family friendliness                                                       0.037692
Specific department or team I’d be working on                             0.032592
Diversity of the company or organization                                  0.019683
Name: 0, dtype: float64

In [353]:
# fuction to transform years of coding column 
def get_yrs(col_name): 
    yrs = ""
    for col in col_name: 
        if yearscode=='Less than 1 year': 
             yrs=1
        if yearscode=='More than 50 years': 
             yrs=50
        else: 
            yrs= col
        return yrs

In [354]:
#apply get_yrs functions to years of coding 
df_new['code_years']= df_new['YearsCode'].apply(get_yrs)

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [397]:
df_new['code_yrs'].head()

9     8.0
32    2.0
41    1.0
46    4.0
68    1.0
Name: code_yrs, dtype: float64

In [371]:
row =df_new[df_new['code_years']=='L']
row1=df_new[df_new['code_years']=='M']

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro,score,num_factors,code_years
5526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [375]:
#drop rows where years of coding equal 'L','M'
df_new= df_new.drop([5526,9002,30329])

In [396]:
# transform type of code_yrs from string to float 
df_new['code_yrs']=df_new['code_years'].astype(float)

In [417]:
#group data by hobby
# people who are younger and more satisfied in current job are more likely to have coding as hobby
df_new.groupby('Hobbyist').mean()

,Respondent,Age,CompTotal,ConvertedComp,WorkWeekHrs,score,num_factors
Hobbyist,,,,,,,
No,28246.848787,33.559201,4.694574e+06,96070.894437,41.104850,3.653352,2.970043
Yes,27390.910308,31.775342,2.350182e+06,114704.129841,41.297594,3.802392,2.980353

In [404]:
#inspect welcome change 
df_new['WelcomeChange'].value_counts()/len(df_new['WelcomeChange'])

Just as welcome now as I felt last year                    0.751544
Somewhat more welcome now than last year                   0.092874
Somewhat less welcome now than last year                   0.064846
A lot more welcome now than last year                      0.044656
A lot less welcome now than last year                      0.035154
Not applicable - I did not use Stack Overflow last year    0.010926
Name: WelcomeChange, dtype: float64

In [406]:
#inspect relationship between welcome changes and years of coding
# people who have less years of coding are less likely to welcome change 
df_new.groupby('WelcomeChange')['code_yrs','WorkWeekHrs'].mean()

                                                    code_yrs  WorkWeekHrs
WelcomeChange
A lot less welcome now than last year               2.871622    40.760135
A lot more welcome now than last year               3.664894    41.398936
Just as welcome now as I felt last year             2.896966    41.306858
Not applicable - I did not use Stack Overflow l...  3.108696    41.586957
Somewhat less welcome now than last year            2.516484    41.154762
Somewhat more welcome now than last year            3.531969    41.132992